* {
  background: #f3f4f6;
}

.head {
  /* Heading */
  position: static;
  width: 367px;
  height: 32px;
  left: 32px;
  top: 0px;
  /* text-2xl/leading-8/font-semibold */
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  /* gray/900 */
  color: #111827;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 20px 0px;
}
